<div class="offcanvas offcanvas-start sidebar-custom" tabindex="-1" id="menuLateral">
  <div class="offcanvas-body pt-3">
    <div class="menu-nav nav flex-column nav-pills mt-4">
      
      <a href="{% url 'home' %}" class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
        <i class="bi bi-cart3"></i>
        <span>Frente de Caixa</span>
      </a>

      <a href="{% url 'cadastro' %}" class="nav-link {% if request.resolver_match.url_name == 'cadastro' %}active{% endif %}">
        <i class="bi bi-person-plus"></i>
        <span>Cadastro</span>
      </a>

      <a href="{% url 'consulta' %}" class="nav-link {% if request.resolver_match.url_name == 'consulta' %}active{% endif %}">
        <i class="bi bi-box-seam"></i>
        <span>Consulta de Estoque</span>
      </a>

      <a href="{% url 'relatorios' %}" class="nav-link {% if request.resolver_match.url_name == 'relatorios' %}active{% endif %}">
        <i class="bi bi-bar-chart"></i>
        <span>Relatórios</span>
      </a>

      <a href="{% url 'operacao' %}" class="nav-link {% if request.resolver_match.url_name == 'operacao' %}active{% endif %}">
        <i class="bi bi-scissors"></i>
        <span>Operação</span>
      </a>

      <a href="{% url 'fechamento' %}" class="nav-link {% if request.resolver_match.url_name == 'fechamento' %}active{% endif %}">
        <i class="bi bi-cash-coin"></i>
        <span>Fechamento de Caixa</span>
      </a>
      
    </div>
  </div>
</div>